.card-slider {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;

    ul {
        display: flex;
        gap: 32px;
        width: 100%;
        scroll-behavior: auto;
        padding: 0;
    }


}


// swiper

.swiper {
    margin-left: 0;
    margin-right: 0;
    max-height: 70vh;
    min-height: 30vh;

}

.content-section {
    .swiper-wrapper {
        position: relative;
        padding: 24px 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
    }
}