        .heroSection {
            display: grid;
            flex-wrap: wrap;
            margin-bottom: 20px;
            grid-template-columns: 40% auto;
            grid-template-rows: 1fr auto;
            width: 100%;
            box-sizing: border-box;

            .image-wrapper {
                grid-column: 1 / 3;
                grid-row: 1 / 4;
                /* ocupa ~50% do container; ajuste para 60/40 se preferir */
                min-width: 280px;
                /* evita encolher demais em mobile */
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 70vh;
                min-height: 30vh;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(0.8);
                    object-position: top;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    /* importante: começa do fundo */
                    height: 40%;
                    /* ajuste conforme precisar */
                    pointer-events: none;
                    /* não bloquear cliques na imagem */
                    z-index: 2;
                    background: var(--imageGradient);
                    /* gradiente para melhorar legibilidade do texto */
                }
            }

            .content-wrapper {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                z-index: 999;
                padding: 24px;

                .title {
                    color: #fff;
                    text-align: start;
                    margin: 0;
                }

                .description {
                    font-size: 14px;
                    color: var(--textSecondary-color);
                    text-align: start;
                    margin: auto;
                    white-space: break-spaces;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                }

                .actions {
                    margin: 16px 0;
                    justify-content: start;
                    text-align: start;

                    button {
                        border-radius: 16px;
                        background: var(--btn-color);
                        font-weight: 700;
                    }

                }
            }


        }

        @media only screen and (max-width: 600px) {
            .heroSection {

                .image-wrapper {
                    height: 40vh;
                }

                .content-wrapper {
                    grid-row: 2 / 3;
                    grid-column: 1 / 3;
                    z-index: 999;
                    padding: 16px;

                    .title {
                        font-size: 2.2em;
                    }

                    .description {
                        font-size: 12px;
                    }
                }
            }

        }