.primary-section {

  .swiper {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;

    .swiper-slide {
      font-size: 18px;
      color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;

      a:hover {
        color: white;
      }


      .title {
        font-size: 41px;
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
      }

      .subtitle {
        font-size: 21px;
        display: block;
        text-align: start;
        margin-bottom: 24px;
      }

      .text {
        font-size: 18px;
        max-width: 400px;
        line-height: 1.5;
        text-align: start;
        display: block;
      }
    }

    .parallax-bg {
      position: absolute;
      right: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
    }
  }
}



@media only screen and (max-width: 600px) {
  .primary-section {
    .swiper {
      height: 200px;

      .swiper-slide {
        padding: 20px 30px;

        .title {
          font-size: 32px;
        }

        .subtitle {
          font-size: 18px;
          margin-bottom: 16px;
        }

        .text {
          font-size: 16px;
          max-width: 300px;
        }
      }
    }
  }
}