.search-wrap {
    margin-right: 8px;
    display: flex;
    align-items: center;
    position: relative;

    button:focus,
    button:focus-visible {
        outline: none;
    }

    .input-search {
        background: #ffff;
        border-radius: 25px;
        border: solid 1px #c4bfbf;
        color: #000;
        padding: 4px 8px;
        display: none;
        transition: all 0.3s linear;
    }

    .icon-search {
        position: relative;
        width: 22px;
        height: 22px;
        background: none;
        border: 3px solid var(--text-color);
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 3px;
            background-color: var(--text-color);
            bottom: -6px;
            right: -6px;
            transform: rotate(53deg);
            transition: all 0.3s ease-in-out;
        }
    }

    /*  Quando o campo está ativo */
    &.show-input {
        .input-search {
            display: inline-block;
            position: relative;
            left: 30px;
        }

        .icon-search {
            border: none;
            border-radius: 0;
            width: 20px;
            height: 20px;
            background: none;
            top: -1px;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 9px;
                left: 0;
                width: 20px;
                height: 3px;
                background-color: #000;
                transition: all 0.3s ease-in-out;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }
    }
}